::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #71315c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #131324;
}

/* Handle on Hover */

body {
  overflow-x: hidden;
  background-color: #131324;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
